.video1 {
    object-fit: cover;
    width: 50%;
    height: 100vh;
    position: fixed;
}

.hero {
    /* background: url('./images/pic-2.png') center center/cover no-repeat; */
    height: 88vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* box-shadow: inset 0 0 0 1000px rgba(9, 200, 243, 0.2); */
    object-fit: contain;
}

.rightdiv1 {
    height: 88vh;
    background-color: white;
    width: 55%;
    float: right;
    background-image: linear-gradient(#6190e8, #a7bfe8);
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.username {
    width: 100%;
}

.userStyle {
    width: 100%
}

.innerdiv {
    width: 90%;
    border: 25px solid #6190e8;
    background-color:#6190e8;
    
}